<?xml version="1.0" encoding="UTF-8"?>
<plugin

   id="FreeFrame"
   iconfile="icon.png"
   description="FreeFrame Plugin"
   tooltip="Transformer for the transition of reference frames"
   category="Transform"
   classname="org.catais.plugin.freeframe.FreeFrameStepMeta">
		
		<libraries>
    		<library name="freeframestep.jar"/>
		</libraries>
		
</plugin>
